pipeline/pl_ECDC_injest_data1.json
{
	"name": "pl_ECDC_injest_data1",
	"properties": {
		"activities": [
			{
				"name": "CpyCasesandData",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ForEachECDCFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_ECDC_Files_csv",
						"type": "DatasetReference",
						"parameters": {
							"relativeURL": {
								"value": "@pipeline().parameters.SourceRelativeURL",
								"type": "Expression"
							},
							"baseURL": {
								"value": "@pipeline().parameters.sourceBaseURL",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_ECDC_sinkfile",
						"type": "DatasetReference",
						"parameters": {
							"Filename": {
								"value": "@pipeline().parameters.sinkFileName",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "LookupECDCFileLIst",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"maxConcurrentConnections": 1,
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_configdata",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachECDCFiles",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupECDCFileLIst",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupECDCFileLIst').output.value",
						"type": "Expression"
					},
					"isSequential": false
				}
			}
		],
		"concurrency": 1,
		"parameters": {
			"SourceRelativeURL": {
				"type": "string"
			},
			"sinkFileName": {
				"type": "string"
			},
			"sourceBaseURL": {
				"type": "string"
			}
		},
		"annotations": []
	}
}